.panel,
.output,
.text-area{
  width: "100%";
  height: "100%" ;
}
ul {
  list-style: none;
}
.output {
  font-family: monospace;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: aqua
}
.ouput-title{
  color:red;
}
.output td {
  padding:0;
}
.output table{
 margin:10px 0;
 color:red;
}